<mat-toolbar>
  <mat-toolbar-row style="font-size: 1.5rem; height: 80px;">
    <span>Agenda Live<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
    <button mat-raised-button><mat-icon>add</mat-icon>Live</button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Proximas"> <!--Inicio proximas live-->

    <mat-grid-list cols=3>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="text">Desenvolvimento Back End</mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">Canal: ProgramadorBR</mat-card-subtitle>
          </mat-card-header>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/q8jXr0R_2UA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="text">Desenvolvimento Back End</mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">Canal: ProgramadorBR</mat-card-subtitle>
          </mat-card-header>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/q8jXr0R_2UA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="text">Desenvolvimento Back End</mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">Canal: ProgramadorBR</mat-card-subtitle>
          </mat-card-header>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/q8jXr0R_2UA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="text">Desenvolvimento Back End</mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">Canal: ProgramadorBR</mat-card-subtitle>
          </mat-card-header>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/q8jXr0R_2UA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>

    </mat-tab> <!--Fim proximas live-->

  <mat-tab label="Realizadas"></mat-tab>
</mat-tab-group>
